@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 23 23 23;
}

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-white text-neutral-900 antialiased;
}

.container {
  @apply mx-auto max-w-6xl px-4;
}

h1,h2,h3 { @apply font-semibold tracking-tight; }


